<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Register Admin</title>
  </head>
  <body>
        <div class="container-fluid card">
                <div class="row card-body">
                        <div class="col-2 display-2 d-flex align-self-center justify-content-center">
                            <img src="http://www.forgeforward.in/wp-content/themes/foundry/style/img/logo-light.png" class="img-fluid" alt="Forge logo">
                        </div>
                        <div class="col-8">
                            <h1 class="display-2 d-flex align-self-center justify-content-center">Leader<span class="text-muted">Board</span></h1>
                        </div>
                        <div class="col-2 display-2 d-flex align-self-center justify-content-center">
                            <img src="http://protosem.tech/assets/img/protosem-logo.png" class="img-fluid" alt="Responsive image">
                        </div>
                      </div>
        </div>
      <div class="container px-2 py-2">
            <div class="text-center">
                    <h1 class="display-4">Register Admin</h1>
                </div>
                <form action="/register" method="POST" class="card">
                    <div class="form-group card-body">
                      <label for="username">Choose a UserName</label>
                      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                    </div>
                    <div class="form-group card-body">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="Password" name="password" placeholder="Password">
                    </div>
                    <div class="text-center pb-4">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>